#form,
#output {
    width: 50%;
    float: left;
}

#json-output {
    width: 100%;
    height: 30em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clearboth {
    clear: both;
}

.data-vis > svg {
    width: 70%;
}

.active {
    color: #50B948;
}
